%table
	%tr
		%th 
			%strong Name
		%th
			%strong Email
		%th
			%strong Phone
	
		%tr
			%td
				= @survey.contact.name
			%td	
				= @survey.contact.email
			%td	
				= @survey.contact.phone_number
